<h2>About AMA For Developers</h2>

<h4>The AMA For Developers website was created to serve as a question and answer message board where junior developers and newbies learning to code can submit a question and senior developers, product owners, senior designers, recruiters, and other tech professionals can respond with answers.</h4>
