<h1>WELCOME TO AMA FOR DEVELOPERS</h1>

<h3 class="welcome">An excellent resource for knowledge and information.</h3>

<ul style="list-style-type:square">
  {{#each model.questions as |question|}}
    <li>{{question-tile question=question}}</li>
	{{/each}}
</ul>

{{new-question saveQuestion="saveQuestion"}}

<h4>Recently Posted Answers</h4>

<ul>
  {{#each model.answers as |answer|}}
    <li>{{answer.acontent}} by {{answer.username}}</li>
  {{/each}}
</ul>
