<h1>WELCOME TO AMA FOR DEVELOPERS</h1>

<h3>An excellent resource for knowledge and information.</h3>

<ul style="list-style-type:square">
  {{#each model as |question|}}
    <li>{{question-tile question=question}}</li>
	{{/each}}
</ul>

{{#link-to 'about'}}About{{/link-to}} | {{#link-to 'contact'}}Contact Us{{/link-to}}
